/**
 * Ushahidi Base CSS
 *
 * This is a minimal set of styling with just enough to still have the map and
 * other JS work. Don't override this in your theme unless you really need to.
 */

/* reset */
body, div, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

fieldset, img {
	border: 0;
}

html {
	height: 100%;
	margin-bottom: 1px;
}

body {
	position: relative;
}

/* links */
a {
	color: #3764aa;
	text-decoration: none;
}

a:hover {
	color: #008cff;
	text-decoration: underline;
}

/* header elements */
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top: 0;
	padding: 0;
}

h1 {
	font-size: 150%;
	color: #004276;
}

h2 {
	font-size: 125%;
	color: #004276;
	margin-bottom: .2em;
}

h3 {
	font-size: 150%;
	color: #333333;
}

h4 {
	font-size: 175%;
	color: #333333;
}

h5 {
	font-size: 150%;
	color: #333333;
	margin-bottom: 10px;
}

h6 {
	font-size: 125%;
	color: #333333;
}

/* page setup */
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 12px;
}

/* left column */
div#left {
	width: 200px;
}

div#middle .layoutleft div#left {
	float: left;
}

div#middle .layoutright div#left {
	float: right;
}

/* right column */
div#right {
	width: 285px;
	float: right;
}

/* right column (width: 50%) */
div#equalright {
	width: 50%;
	padding: 0px;
	float: right;
}

/* content column */
div#main {
}

div#mainmiddle {
}

div#main .withoutright {
}

div#content {
}

div#main .withright div#content {
}

div#main .withoutright div#content {
}

/* footer */
div#footer {
	width: auto;
	clear: both;
}

div#underfooter {
	width: auto;
}

/* clearing & floating */
.clearingfix:after {
	content: ".";
	display: block;
	line-height: 0px;
	clear: both;
	visibility: hidden;
}
.clear {
	clear: both;
}

.clearingfix {
	display: block;
}

.floatbox {
	overflow: hidden;
}

.hide {
	display: none;
}

/* Map */
/* Map container div - must have a height set */
div.map {
	border: #999 1px solid;
	width: 573px;
	height: 480px;
}

#mapStatus {
	float: left;
	background-color: #e1e1e1;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	border-bottom: solid 1px #999;
	font-size: 10px;
	width: 573px;
}

#mapStatus div {
	float: left;
	display: inline-block;
	padding: 4px 6px 4px 6px;
	border-right: solid 1px #999;
}
#mapMousePosition {
	min-width: 135px;
	text-align: center;
}

#mapOutput sup {
	height: 0;
	line-height: 1;
	vertical-align: text-top;
	position: relative;
	font-size: 8px;
}

div.graph-holder {
	height: 150px;
	overflow: hidden;
	width: 573px;
}

div.slider-holder {
	font-size: 70%;
	height: 70px;
	margin-top: 1em;
	width: 554px;
	padding-left: 1em;
}

div.slider-holder label {
	color: #666666;
}

/* Category filter lists - give basic indenting back (for categories) */
ul {
	padding-left: 1.5em;
}

/* Reports page */
/* Reports/Filters Layout */
/* basic styling on reports and filters for convenience */
#reports-box {
	float: left;
	width: 600px;
}
#filters-box {
	float: left;
	width: 280px;
	margin-left: 20px;
}
.f-clear {
	float: right;
}
.report-stats-container {
	clear: both;
}

/* Set initial state to hidden for elements that have JS show/hide functions */
.btn-less {
	display: none;
}
.rb_list-view .r_categories, .rb_list-view .r_location {
	display: none;
}
#tooltip-box {
	display: none;
}
/* Map container divs - must have a height set*/
.f-location-box .rb_location-radius {
	width: 259px;
	height: 280px;
}
#rb_map-view {
	display: none;
	width: 590px;
	height: 384px;
}
/* Highlight select categories */
ul.filter-list li a.selected {
	background: #DBDBDB;
}

/* Report submit - map and controls */
.report_map {
	overflow: hidden;
	width: 100%;
	width: 50%;
	height: 350px;
	position: relative;
}
.report-find-location .btns {
	float: left;
}
.report-find-location .btns ul {
	padding: 4px;
}
.report-find-location .btn_find {
	float: left;
	margin: 10px 0 0 5px;
}
.report-find-location input.findtext {
	margin-top: 9px;
	padding: 5px 3px 0 3px;
	height: 24px;
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #666;
	width: 250px;
	border: 1px #ccc solid;
}
.report-find-loading {
	float: left;
	height: 31px;
	margin: 9px 0 0 3px;
}

/* Get Alerts page */
.step-1 .map-wrapper .map-holder {
	overflow: hidden;
	width: 387px;
	height: 325px;
}
.step-1 .alert_slider {
	padding: 15px 15px 35px 15px;
}

/*-- Buttons --*/
.btns ul {
	margin: 0;
	padding: 9px 10px 0;
	clear: both;
	overflow: hidden;
	font-size: 90%;
}
.btns ul li {
	padding: 0 2px;
	float: left;
	list-style: none;
}
.btns ul li a {
	padding: 0 6px;
	color: #5c5c5c;
	background: #f2f7fa;
	float: left;
	line-height: 24px;
	text-decoration: none;
	border: 1px solid #d1d1d1;
}
.btns ul li a.btns_red {
	background: #FFE9EC;
}
.btns ul li a.btns_gray {
	background: #eee;
}
.btns ul li a:hover {
	text-decoration: underline;
}
/*-- / Button --*/

/* Map Labeler */
#geometryLabelerHolder {
	position: absolute;
	bottom: 0;
	display: none;
	width: 100%;
	background-color: #00008b;
	opacity: 0.8;
	z-index: 5000;
}
#geometryLabeler {
	padding: 10px;
}
#geometryLabeler label {
	font-weight: bold;
	color: #fff;
	margin-right: 5px;
}
#geometryLabeler .lbl_text {
	width: 80px;
	margin-right: 15px;
}
#geometryLabeler .lbl_text2 {
	width: 180px;
}
#geometryLabeler #geometryLabelComment {
	padding-bottom: 7px;
	margin-bottom: 7px;
	border-bottom: 1px dotted #fff;
}
#geometryLat, #geometryLon {
	display: none;
}
#geometryLabelerClose {
	z-index: 5001;
	position: absolute;
	top: 2px;
	right: 0;
	width: 18px;
	height: 18px;
	background: url("../../../media/img/openlayers/layer-switcher-minimize.png") no-repeat;
	cursor: pointer;
}

